.board{
  margin-block: 2rem;
}

.board__container{
  width: 90%;
  height: 500px;
  margin-block: 2rem;
  border: 1px solid black;
  position: relative;
  background-image: url(/src/assets/img/board-background.png);
  aspect-ratio: 16 / 9;
  margin: 0 auto;
}