.board {
  margin-block: 2rem;
  display: flex;
  flex-direction: row-reverse;
}

.board__container {
  width: 90%;
  height: 500px;
  margin-block: 2rem;
  border: 1px solid black;
  position: relative;
  background-image: url(/src/assets/img/board-background.png);
  aspect-ratio: 16 / 9;
  margin: 0 auto;
  overflow: hidden;
}

.board__connection-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0.5rem;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  cursor: pointer;
}

.connections-layer{
  width: 100%;
  height: 100%;
}

.button--prubas{
  position: absolute;
}
