.resistorInput{
  display: grid;
  grid-template-areas:
      "title title"
      "button input";
  grid-template-columns: repeat(6, 50px);
  grid-template-rows: 20px 40px;
  align-items: center;
  justify-items: center;
}

.resistorInput__title{
  grid-area: title;
  grid-column: 2 / 3;
  justify-self: flex-start;
  align-self: end;
  font-weight: 500;
}

.resistorInput__deleteSection{
  grid-area: button;
  grid-column: 1 / 2;
  padding-top: .25rem;
  align-self: start;
}

.resistorInput__inputSection{
  grid-area: input;
  grid-column: 2 / 7;
  height: 100%;
  justify-self: flex-start;
  padding-top: .2rem;
}

.resistorInput__input{
  width: 70%;
  height: 60%;
  outline: none;
  border-radius: 10px 0 0 10px;
  border: none;
  padding-left: .6rem;
  font-size: 13px;
}

.resistorInput__selector{
  height: 60%;
  outline: none;
  border-radius: 0 50px 50px 0;
  border: none;
  border-left: 1px solid var(--background-color-tertiary);
}

.resistorInput__button-remove{
  stroke: #f52626;
  cursor: pointer;
}
