.projectInfo {
  width: 100%;
  padding-inline: 3.5em;
  margin-bottom: 4rem;
}

.projectInfo__container {
}

.projectInfo__data {
  display: flex;
  justify-content: space-between;
  padding-right: 3%;
  align-items: center;
  margin-bottom: 1rem;
}

.projectInfo__title {
  font-size: 1.75rem;
}

.projectInfo__materia {
  font-size: 1.1rem;
  font-style: italic;
}

.projectInfo__tags {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.projectInfo__description {
  margin-bottom: 2rem;
}
