.projectInfo {
  width: 100%;
}

.projectInfo__container {
  padding-inline: 1em;
}

.projectInfo__data {
  display: flex;
  justify-content: space-between;
  padding-right: 10%;
  align-items: center;
  margin-bottom: 1rem;
}

.projectInfo__title {
  font-size: 1.75rem;
}

.projectInfo__materia {
  font-size: 1.1rem;
  border-bottom: 1px solid;
}

.projectInfo__tags {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.projectInfo__description {
  margin-bottom: 1rem;
}
